.text{
    font-size: 24px;
    overflow-wrap: break-word;
}
.description {
    overflow-wrap: break-word;
    max-width: 50vw;
    max-height: 30vh;
    box-sizing: content-box;
}
.Type {
    overflow-wrap: break-word;
    position: absolute;
    left: 50%;
    top: 40%;
    max-width: 36%;
    height: 40px;
}

.info{
    max-width: 50%;
}
